@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700;1,900&display=swap");

/* def {
  --raisin-black: #2d2a32ff;
  --magic-mint: #b8ebd0ff;
  --sweet-brown: #ac3931ff;
  --roman-silver: #808a9fff;
  --blue-yonder: #446bafff;
} */

/* .header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5))
    url("./developer.jpg") no-repeat fixed center/cover;
} */
* {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
li {
  padding: 10px 0;
  padding-left: 5px;
}
li::marker {
  font-size: x-large;
  color: #b8ebd0;
}
